* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.gameInfo {
  margin: 75px 75px;
}

#gameInfo {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 20px;
}

#victoriesOfO, #victoriesOfX {
  font-style: italic;
  margin: 5px 0;
}

main {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  font-size: 20pt;
}

.winnerCell {
  font-weight: bold;
  color: green;
}

button {
  margin-top: 50px;
  border: none;
  outline: none;
  padding: 15px;
  cursor: pointer;
  font-size: 12pt;
  display: none;
}

footer {
  bottom: 0;
  position: absolute;
  padding: 10px 0;
}

footer a {
  text-decoration: none;
  color: blue;
}

.heart {
  font-size: 20pt;
  color: red;
}